USE [master]
GO
/****** Object:  Database [Recipes]    Script Date: 8/12/2022 12:15:21 PM ******/
CREATE DATABASE [Recipes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Recipes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Recipes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Recipes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Recipes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Recipes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Recipes]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kolicina] [decimal](18, 0) NULL,
	[RecipesId] [int] NULL,
	[fk_naziv] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MjerneJedinice]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MjerneJedinice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JEDINICA] [varchar](2) NULL,
	[JEDINICA_LONG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Namirnice]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Namirnice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [varchar](50) NULL,
	[mjernaJedinica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipesID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](400) NULL,
	[imageUrl] [varchar](400) NULL,
	[kategorijaID] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[descriptions] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skladiste]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skladiste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FkNamirnice] [int] NOT NULL,
	[kolicina] [decimal](18, 0) NOT NULL,
	[min_kolicina] [decimal](18, 0) NOT NULL,
	[ispod_min] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skladiste_Ulaz]    Script Date: 8/12/2022 12:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skladiste_Ulaz](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FkNamirncie] [int] NOT NULL,
	[kolicina] [decimal](18, 0) NOT NULL,
	[DatumUnosa] [datetime] NOT NULL,
	[ispravkaKrivogUnosa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Skladiste] ADD  DEFAULT ((1)) FOR [ispod_min]
GO
ALTER TABLE [dbo].[Skladiste_Ulaz] ADD  DEFAULT ((0)) FOR [ispravkaKrivogUnosa]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD FOREIGN KEY([fk_naziv])
REFERENCES [dbo].[Namirnice] ([ID])
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD FOREIGN KEY([RecipesId])
REFERENCES [dbo].[Recipes] ([RecipesID])
GO
ALTER TABLE [dbo].[Namirnice]  WITH CHECK ADD FOREIGN KEY([mjernaJedinica])
REFERENCES [dbo].[MjerneJedinice] ([ID])
GO
ALTER TABLE [dbo].[Skladiste]  WITH CHECK ADD FOREIGN KEY([FkNamirnice])
REFERENCES [dbo].[Namirnice] ([ID])
GO
ALTER TABLE [dbo].[Skladiste_Ulaz]  WITH CHECK ADD FOREIGN KEY([FkNamirncie])
REFERENCES [dbo].[Namirnice] ([ID])
GO
USE [master]
GO
